<ion-header>
    <ion-navbar color="primary">
      <ion-title>{{ item.id }}</ion-title>
      <ion-buttons end>
        <button ion-button clear (click)="deletePost(item.id)">
          Delete
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <ion-card>

      <ion-item>
        <ion-avatar item-left>
          <div *ngIf="item.meta?.value"><img src="{{item.meta.value}}"  /></div>
          <div *ngIf="!item.meta?.value"><img src="assets/img/placeholder.png"/></div>
        </ion-avatar>
        <h2>{{item.user_id}}</h2>
        <h4 item-right>
            {{item.created_at}}
          </h4>
      </ion-item>


      <div *ngIf="item.meta?.value">,<img style="height: auto; max-height:300px;" src="{{item.meta.value}}"  /></div>
      <div *ngIf="!item.meta?.value">,<img  style="height: auto; max-height:300px;" src="assets/img/placeholder.png"/></div>

      <ion-card-content (click)="openDetails(item)">
        {{item?.post}}
      </ion-card-content>

      <ion-row center>
        <ion-col col-4>
          <button ion-button icon-left clear small>
                     <button ion-button icon-only clear (click)="unfavoritePost(i)" *ngIf="isFavorite"><ion-icon name="star"></ion-icon></button>
                     <button ion-button icon-only clear (click)="favoritePost(i)" *ngIf="!isFavorite"><ion-icon name="star-outline"></ion-icon></button>
                     <div>{{likes}}</div>
                      <div>&nbsp; Likes</div>
                   </button>
        </ion-col>
        <ion-col (click)="getPostId(i)" col-5>
          <button ion-button icon-left clear small>
                     <ion-icon name="text"></ion-icon>
                     <div>{{comments}}</div>
                    <div>&nbsp; Comments</div>
                   </button>
        </ion-col>
        <ion-col col-2 end>
            <button ion-button icon-left clear small >
                  <ion-icon name="share"></ion-icon>
                       <div>10</div>
                     </button>
          </ion-col>
        <ion-col center text-center>
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-content>
